body {
    background-color: #0f172a;
    color: #e2e8f0;
    font-family: "Oswald", sans-serif;
    margin: 20px;
}

header {
    text-align: center;
    padding: 30px;
    border-bottom: 3px solid #4CAF50;
}

section {
    background-color: #1e293b;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 2px 2px 8px black;
}

h1, h2 {
    color: #86efac;
}

a {
    color: #7dd3fc;
}

a:hover {
    color: #38bdf8;
    text-decoration: underline;
}

img {
    border-radius: 12px;
    width: 500px;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #94a3b8;
}
 
h1 {
    font-weight: bold;
}

h2 {
    font-style: normal;
}

p {
    line-height: 2;
}

section p {
    font-size: 18px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.feature-box {
    margin: 30px;
    padding: 25px;
    border: 2px solid #86efac;
    border-left: 8px solid #38bdf8;
    width: 80%;
    height: 50%;
}

#wildlife {
    background-color: #064e3b;
}

nav {
    margin-top: 15px;
    text-align: center;
}

nav a {
    padding: 10px;
    font-weight: bold;
}

.page-container {
    max-width: 1000px;
    margin: 0 auto;
}